[user]
    useconfigonly = true
#    name =
#    email =
[color]
    ui = auto
[push]
    default = simple
[alias]
    co = checkout
    st = status
    br = branch
    ol = log --pretty=oneline --abbrev-commit
    dump = cat-file -p
    lg = log --pretty=format:\"%Cred%h%Creset %Cgreen%ad%Creset | %s%C(yellow)%d%Creset %C(blue)<%an>%Creset\" --graph --date=short
    purr = pull --rebase
    qamend = commit --amend --no-edit
    amend-identical = commit --amend -C HEAD
    type = cat-file -t
