[user]
#    name =
#    email =
[color]
    ui = auto
[push]
    default = simple
[alias]
    co = checkout
    purr = pull --rebase
    qamend = commit --amend --no-edit
    amend-identical = commit --amend -C HEAD
